---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cerberus-ui-service
  labels:
    service: cerberus-ui-service
spec:
  selector:
    matchLabels:
      name: cerberus-ui-service
  replicas: 3
  revisionHistoryLimit: 3
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        name: cerberus-ui-service
        service: cerberus-ui-service
    spec:
      restartPolicy: Always
      containers:
      - name: ui
        image: quay.io/ukhomeofficedigital/cerberus-ui-service:{{.CERBERUS_UI_TAG}}
        imagePullPolicy: Always
        securityContext:
          runAsUser: 101
          runAsNonRoot: true
        resources:
          requests:
            memory: "64Mi"
            cpu: "200m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
          - name: http
            containerPort: 8080
          - name: https
            containerPort: 10443
        readinessProbe:
          httpGet:
            path: /
            port: http
        livenessProbe:
            httpGet:
              path: /
              port: http
        env:
          - name: KEYCLOAK_AUTH_URL
            value: "https://{{.KEYCLOAK_AUTH_URL}}"
          - name: KEYCLOAK_CLIENT_ID
            value: "{{.KEYCLOAK_CLIENT_ID}}"
          - name: KEYCLOAK_REALM
            value: "{{.KEYCLOAK_REALM}}"
          - name: ENVIRONMENT
            value: "{{.DEPLOY_ENV}}"
          - name: FORM_API_URL
            value: "https://{{.FORM_API_URL}}"
          - name: REFDATA_API_URL
            value: "https://{{.REFDATA_API_URL}}"
          - name: CERBERUS_API_URL
            value: "https://{{.CERBERUS_WORKFLOW_SERVICE_URL}}/camunda/engine-rest/"
        volumeMounts:
          - name: certs
            mountPath: /certs
      volumes:
      - name: certs
        secret:
          secretName: "cerberus-ui-service-pod-cmio"
